In [1]:
#Lets first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\nikhil\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\nikhil\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [33]:
#importing the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [34]:
#let connect with the driver
driver = webdriver.Chrome(r"C:\Users\Nikhil\Downloads\chromedriver_win32\chromedriver.exe")

# selenium assignment 1

In [64]:
driver.get("https://www.naukri.com/")

In [65]:
#finding element for job search
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [66]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [67]:
#specifing the url of the page to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore"

In [68]:
#lets open the webpage through our driver
driver.get(url)

In [69]:
job_titles=[]
company_names=[]
locations_list=[]
experience_req=[]

In [70]:
#lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="6bf73595-1a63-4e06-b926-8d9f9a58e657")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="a21b3c9d-b12d-49bc-90e7-347d32b15861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="392c66a8-7c42-485d-8356-4bced3f15fae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="598bfa82-9cf7-4b9c-a9a4-7b0b572e4efb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="a583c0e7-637f-4fc0-8ff5-24e968066ba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="5053a17a-38c7-4ae2-8891-4ac7f6b5b07a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="dfde8c76-02c9-4ba9-9036-6e9b03e9ec34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="19e6b6fe-5b5a-47f8-b3b2-014ebfb533ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="ce093051-9d78-44c4-9bf3-1bfd657e8ce5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="4be47a60-414b-4b3b-96f5-38d85d3bffd4")>]

In [71]:
#we will run the loop to extract the text from the above tags extracted
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Assistant Manager II - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / Business Analyst',
 'Data Analyst with Marketing Analytics-Capco']

In [72]:
#lets extract all the tags having the company-names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="4f23a7a4-be3b-4844-8fa3-5d9e3dbd08ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="abd109f1-f602-4b7d-a64c-bbf46753b5ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="d5933e1b-ab78-4056-b1b2-03f77aa56d0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="c74c3717-9d74-40ed-8ae8-ef4e6b8a2b2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="d0f84157-5c40-4cb4-9b4a-592678248ddd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="532815c7-b1c2-4a5f-b0d3-7130ba6b5836")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="3c6adb45-a369-49b4-900c-fb3b8053040e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="d39cd340-8899-4d8d-ad52-dd8470f67bed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="deab39b3-602b-4f7b-94e3-5887a1cc21e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="726e952a-7eed-4e67-a8b2-09cbb3561a37")>]

In [73]:
#we will run the loop to extract the text from the above tags extracted
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Flipkart Internet Private Limited',
 'Super India Tech Mark',
 'tech mahindra ltd',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'INTERTRUST GROUP',
 'Xiaomi',
 'Concentrix Daksh Services India Private Limited.',
 'Cerner',
 'LatentView Analytics Private Limited',
 'Capco Technologies Pvt Ltd']

In [74]:
#lets extract all the tags having the locations
locations_tags=driver.find_elements_by_xpath("//di[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="9f1d738b-d40c-4d04-9fef-f7702254e93e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="9e0c5743-4123-4a78-81a2-ca575917910b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="2ec0ccee-3760-4788-903d-10b4ad135457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="fcbe958a-8156-46fe-a161-af02f140e6a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="790a9335-f3b6-4d1e-8df3-58ad8387c2c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="53000f10-2c2d-4c53-8838-8890a3507729")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="c79f24c5-36c4-4d44-b7cc-b9f8e1fadaae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="35cf8cc9-41de-44ad-8f06-36656afbdb93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="3b2ce11c-8994-4e90-97cf-0ceb96137045")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="b1ebd392-2a98-4451-a508-6b047e02d886")>]

In [75]:
#we will run the loop to extract the text from the above tags extracted
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru']

In [76]:
#lets extract all the tags having the locations
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="a92d4125-1db6-4422-809c-cd2ff54050b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="79b7fc63-e02e-448e-9d61-de80b9614d70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="7aca7cd9-a9a8-4a92-9414-5e6c6d51ecc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="03db3907-6bd4-4815-a92f-a147e51341ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="3d477ee2-d71f-4fb5-a841-a012959fda2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="c517ff33-b4e8-4f32-a0e5-1cff9bb5f113")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="397a67af-041a-47c2-8528-bea5c7e95922")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="ef35d175-61dc-4807-9715-0112a570b688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="877ece83-a1b5-4ba7-9aaa-ee3d63a09502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1a081d5eabfc4dc47ac43b29b977ac3c", element="624bac91-d989-4dda-afc8-762165a92b83")>]

In [77]:
#we will run the loop to extract the text from the above tags extracted
for i in experience_tags:
    experience=i.text
    experience_req.append(experience)
experience_req[0:10]

['4-8 Yrs',
 '0-2 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '1-6 Yrs',
 '4-9 Yrs']

In [78]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['location']=locations_list[0:10]
jobs['experience']=experience_req[0:10]

In [79]:
jobs

,title,company,location,experience
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,4-8 Yrs
1,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
2,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
4,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-7 Yrs
5,Data Analyst,Xiaomi,Bangalore/Bengaluru,2-6 Yrs
6,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
7,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs
8,Data Analyst / Business Analyst,LatentView Analytics Private Limited,"Chennai, Bangalore/Bengaluru",1-6 Yrs
9,Data Analyst with Marketing Analytics-Capco,Capco Technologies Pvt Ltd,"Pune, Bangalore/Bengaluru",4-9 Yrs

# selenium assignment 2

In [20]:
job_description=[]

In [21]:
#specifing the url of the page to be scraped
url1="https://www.naukri.com/job-listings-assistant-manager-ii-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-4-to-8-years-150321900171?src=jobsearchDesk&sid=16169520567799598&xp=1&px=1"

In [22]:
driver.get(url1)

In [23]:
description_tags=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags

In [24]:
for i in description_tags:
    description=i.text
    job_description.append(description)
job_description

['About the team\nGroup Internal Audit is Flipkart Corporate function overlooking the Internal Audit activities across Flipkart group companies.\nAbout the role\nPrimary responsibility would be to develop and maintain an effective and automated system of data analytics and test large volumes of data for outliers, anomalies, patterns, trends and helps evaluate the adequacy and effectiveness of process and controls and provide enhanced insight into risks and controls. Works with the relevant Internal Audit Directors and Internal Audit team members to continuously define and outline the analytics best needed for the audits projects being conducted. Develops the necessary analytics to support Internal Audit engagements and supports the Internal Audit team members as appropriate in the interpretation and clarification of analytics output.\nWhat you’ll do:\nIdentify, design, and develop data analytics extract routines to support audit activities performed by the Internal Audit team from scoping to testing.?\nDemonstrate proficiency and practical understanding of data analysis concepts and basic programming techniques. Provide technical expertise on data extraction, data cleansing, data mining & analysis and generate output for visualization/analysis.\nUse data analysis tools to automate audit testing and develop techniques for continuous auditing and analysing large volumes of data.\nDemonstrate ability to understand complex and diverse technology and identify sources and tools needed to deliver analysis and reports.\nInteract with management and business partners to identify appropriate data sources and data elements required for analytics, applying professional scepticism when assessing data sources and validating the completeness and accuracy of data received.\nPromote opportunities for advanced data analytics, robotic process automation and AI.\nResearch and communicate best practices, identify areas for improvement and provide effective recommendations and sound audit conclusions\nData Analyst must demonstrate a disciplined approach to decision-making that is risk-based, data-driven, agile to shifting demands and expectations.\nFoster strong relationships with fellow auditors and business partners at all levels; be a trusted advisor.?\nProactively hold discussions with the Internal Audit leadership to brainstorm on the complex analysis, develop the logic and script/code/workflows, and discuss limitations and any potential issues.\nEnhance the Audit Data Analytics journey to support the Flipkart Group Internal audit team in incorporating data analytics into all Compliance, Operational, Strategic and Financial audits within the departmental and professional standards and established timeframes.\nContribute as an Auditor on audit engagements and partner with IA leadership to effectively plan and execute audit and risk management engagements.\nWhat you’ll need:\n4+ years of relevant/recent data analysis/ sciences experience in audit, financial, risk management in a technology-based environment\nChartered Accountant or B. Tech – Computer Engineer\nBig 4 public accounting firm is strongly preferred\nStrong quantitative, analytical, data-intuition and Big Data and statistical skills, and proficiency in data analytics techniques and query/programming languages in SQL, Python, R, Power BI.\nExperience using IDEA/ ACL/ Alteryx like intelligence tool is a plus\nDeep knowledge of the technology industry, platform companies strongly preferred.\nWorking knowledge of internal controls and auditing techniques.\nStrong planning, project management and analytical skills\nExcellent leadership, communication and collaboration skills\nSelf-starter, ability to proactively problem-solve, identify, advocate for and execute improvements\nAbility to maintain a positive attitude and embrace change, thrive in a fast-paced environment']

In [80]:
url2="https://www.naukri.com/job-listings-data-analyst-super-india-tech-mark-bangalore-bengaluru-0-to-2-years-270321602312?src=jobsearchDesk&sid=16169563260314064&xp=2&px=1"

In [81]:
driver.get(url2)

In [82]:
job_description1=[]

In [83]:
description_tags1=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags1

In [84]:
for i in description_tags1:
    description1=i.text
    job_description1.append(description1)
job_description1

['Roles and Responsibilities\nBuilding and iterating reports (with eventual design collaboration) based around a large volume of data, from multiple teams - providing data results communicated in required formats and around production data to determine QA of data collected and completeness of data - supporting the data integrity and continued maintenance of data.\nIn this role, you will have an opportunity to work with vast amounts of meaningful data, made accessible through best-in-class analytical and Business Intelligence tools.\nShould have consulting skills, business knowledge and SAP solution expertise to effectively integrate SAP technology into the clients business environment in order to design efficient solutions while achieve client expected business results.\nAbility to analyse and interpret large data sets from a wide variety of sources, with or without schema knowledge.\nSupport mission-critical and business-critical systems using mature IT and software engineering practices.\nDesired Candidate Profile\nKnowledge of statistical, mathematical and machine learning models, and ability to choose appropriate technique for estimation, comparison, classification, prediction and optimization.\nMBA from a reputable institution is highly desirable, BS or MS degree in Economics, Applied Mathematics, Statistics or area of study related to data sciences and data mining.\nStrong interpersonal skills with the ability to work with a variety of individuals, both internal and external at a variety of. levels in the organization.\nAdvanced skills in design of easy-to-use reporting interfaces and interactive dashboards in Spotfire and Excel Education, Experience, Skills.\nJob Benefits & Perks\nwhatsapp your cv on 7617573322 hr team']

In [85]:
url3="https://www.naukri.com/job-listings-data-analyst-tech-mahindra-ltd-bangalore-bengaluru-4-to-8-years-240321003902?src=jobsearchDesk&sid=16169568648037899&xp=3&px=1"

In [86]:
driver.get(url3)

In [87]:
job_description2=[]

In [88]:
description_tags2=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags2

In [89]:
for i in description_tags2:
    description2=i.text
    job_description2.append(description2)
job_description2

['Lists role title\n\nData Management Analyst\n\nRole\nPurpose\n(Job Profile Summary)\n\nProvides a brief high-level summary of the intent of the role, including: role purpose and key benefit/value to organisation/function/business unit (i.e. why does the role exist & where this role makes the most impact?)\n\nAs a Data Analyst, you will play an important role in ensuring Customer Data integrity across various source systems. You will bring your technical expertise to analyse, identify and remediate data quality problems and how they impact the busines and our customers.\nRole Responsibilities\n(Responsibilities)\n\nDetails key responsibilities of the role and describes how the role contributes to team & organisation success through the lenses of accountability, problem solving and know how (in line with Hay Job Evaluation Definitions)\n\nOther Considerations:\nTeaming Capabilities\nStakeholder Engagement\nPractical and technical knowledge\nBullets to be ranked based on importance\nFocused on results and use observable language\nDescribes the type of work/challenges, rather than a specific skill\n\nThis is how you bring the purpose of your role to life:\nDevelop an understanding of the system and process consumption of the data you analyse to enable you to perform effective analysis to guide data management strategies which maximise business and customer outcomes.\nDevelop an understanding of complex Data models and how to collect and interpret data from multiple source systems.\nAbility to reconcile multiple source system data sets to find misalignments and translate them into business problems.\nEngage with team members and subject matter experts, seeking their input to help resolve problems related to insufficient/poor data quality, lack of lifecycle management, poor data capture controls, breach of regulatory standards, insufficient data access controls, lack of access to data for consuming process and application, inefficient data models creating performance and data quality issues.\nPrepare remediation inputs for both automated and manual remediation activities.\nAbility to automate and create Reusable frameworks to measure and Remediate Data Quality Issues\nMonitor data governance and quality processes, identify opportunities for enhancements and communicate recommendations to the team to help establish new data quality profiling processes\nCollaborate and build relationships with specific stakeholders to understand data requirements and advise on best practice data governance, architecture and management approaches from concept design to solution.\nDevelop your knowledge of up to date innovative and emerging data management and governance practices and consider how it can be implemented in Telstra to enhance current processes and systems.\nCompetence\n\nList of most critical skills that are required to be successful in the role\n\nAnalysing Data sets using Automation\nAutomating data\nApplying Agile practices\nCollaborate Collaborates to achieve outcomes\nCommercial Acumen\nDelivering Analytics Solution\nEngineering Data Infrastructure at scale\nInnovate Challenges to Simplify\nManaging Data Governance\nMotivate Empowers and coaches others\nMotivate Motivates with Vision and Meaning\nProblem Solving\nRecovering form Setbacks\nTranslating Data Into Insights\nWriting Effectively\nCritical Skills\n(Skills)\n\nList of most critical skills that are required to be successful in the role\n\nData Analytics\nAnalysing Data sets using Automation\nBig Database Technologies (eg: Hadoop, HDFS, Hive, Hbase, Kafka, Flume, Impala)\nCoding (SQL, Python, Spark, Kafka)\nSQL, Hive, Spark, Ambari, Zeppelin\nMicrosoft PowerBI\nAgile / Scrum practices\nCloud DataBases (eg: Amazon Redshift, Azure SQL Data Warehouse etc.)\nDelivering Analytics Solution\nTranslating Data Into Insights\nMS Power BI\nMS Azure Power BI\nData Modelling']

In [90]:
url4="https://www.naukri.com/job-listings-data-analyst-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-2-to-7-years-240321910394?src=jobsearchDesk&sid=1616957250700837&xp=4&px=1"

In [91]:
driver.get(url4)

In [92]:
job_description3=[]

In [93]:
description_tags3=driver.find_elements_by_xpath("//div[@class='clearboth description']")
description_tags3

In [94]:
for i in description_tags3:
    description3=i.text
    job_description3.append(description3)
job_description3

['Site Name: India - Karnataka - Bengaluru\nPosted Date: Jul 23 2020\nGSK is one of the world’s foremost pharmaceutical and healthcare companies and we are proud to be leading a healthcare revolution.\nGSK Consumer Healthcare is seeking to make a “Step Change in Digital, Data & Analytics” and is establishing a new-from-the-ground-up Analytics Platform and Products purpose built to help execute on that vision. As a result, we are looking for a Data Analyst to join our Data & Analytics team.\nBy disrupting our approaches to R&D and commercial business processes, D&A is allowing us to integrate, simplify and unlock all our data to drive innovation, decision making and enable our transformation in servicing our patients, healthcare professionals and consumers.\nThe ideal candidate would be highly experienced in conducting data analysis on multiple projects simultaneously in a distributed global matrix environment. The Data Analyst will join a strong technical team in a technically demanding area of Tech and so the ideal candidate should possess a strong background in technology and be familiar with Agile and DevOps processes.\nThis role will provide YOU the opportunity to lead key activities to progress YOUR career. These responsibilities include some of the following.\nDevelop high-level requirements use cases for projects to support business justification\nBe face of Product Owner and translate the requirements in form of data mapping, logical data model for engineering team\nWork closely with the Data Architect to turn conceptual data models into logical and physical models using best practices to ensure high data quality and reduced redundancy\nImplement and document data architectures and data models consistent with business and technical requirements\nOptimize and update logical and physical data models to support new and existing projects\nDevelop test scenarios and test cases in collaboration with data test engineer along with acceptance criteria\nIdentify and drive opportunities to reuse data models in new environments\nEffectively communicates with both technical and non-technical staff, stakeholders, end-users, and vendors\nUnderstand the needs and challenges of the commercial business environment.\nManages communications with engineering team members, internal and external partners, stakeholders, program staff and users\nProvide leadership & best practice guidance for requirements analysis and prioritization.\nElicit business requirements from key stakeholders by using interviews, document analysis, requirements workshops, competitive product analysis, task and workflow analysis\nMonitor and document post-implementation problems and revision requests to ensure it meets end user needs\nUnderstand when to highlight risks or issues and ability to clearly communicate them to management teams and stakeholders.\nIn this role you will interface significantly with senior colleagues across the company in the Commercial Business & in the digital business including product development and new product introduction. This is an excellent time to be joining a highly successful market leader in the healthcare industry and drive significant technology change across the organization.\nWe are looking for professionals with these skills to achieve our goals. If you have them, we would like to speak to you.\nBachelor’s degree; MBA or relevant technical degree preferred. Ideal candidate would have built an impressive hands-on career to date in an advanced, recognized and innovative environment.\nExtensive experience as a Business And/or Data Analyst in Data focused products and proven history working on and delivering complex projects in an Analytics environment space.\nDeep expertise in producing conceptual, logical and physical data models, and using industry standards artefacts (e.g. ER diagrams) to visualize data models\nAn understanding of relational databases, including their structure and design\nAdvanced knowledge of database languages (SQL and variants) including pivoting data, hierarchical queries and query optimization/performance tuning\nExperience of tools like JIRA, Azure DevOps and experience working in agile environment\nPrior experience with working with Commercial and/or Supply chain data is a must.\nKnowledge of Analytics & self-service BI approaches and predictive analytics solutions is a strong advantage.\nExcellent oral and written communication skills with ability to align stakeholders from business and IT with competing priorities\nA strong background in technology, analysis and critical evaluation of information gathered from multiple sources\nExperience writing epics, features, stories including creating workflow/process flow diagrams\nVery high level of interpersonal skills to work effectively with others, motivate team members, and elicit work output in a team environment\nProven experience in successfully working in a team setting and ability to reconcile conflicts\nStrong problem-solving skills and willingness to roll up one’s sleeves to get the job done\nHave a highly innovative mind-set and experience with analytics in a healthcare or CPG company is a plus.']

In [95]:
url5="https://www.naukri.com/job-listings-data-analyst-xiaomi-technology-india-pvt-ltd-bangalore-bengaluru-2-to-6-years-160321006151?src=jobsearchDesk&sid=16169583441124987&xp=5&px=1"

In [96]:
driver.get(url5)

In [97]:
job_description4=[]

In [98]:
description_tags4=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags4

In [99]:
for i in description_tags4:
    description4=i.text
    job_description4.append(description4)
job_description4

['Roles and Responsibilities\nWill be responsible for Managing entire MIS work and Monthly KPIs Preparation for AS.\nWeekly and Monthly Operational Scorecards and Dashboards.\nStrong working skills on Advance Excel\nAble to do analyses of issues and problems independently\nShould have knowledge of managing data over Excel/SQL/MS Access\nResponsible for updating Network status into different portals.\nCoordination with After Sales team to complete pending Task.\nAbility to manage time and work to strict deadlines.']

In [100]:
url6="https://www.naukri.com/job-listings-hiring-for-data-analyst-concentrix-daksh-services-india-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-2-to-7-years-120121001100?src=jobsearchDesk&sid=16169588332461193&xp=6&px=1"

In [101]:
driver.get(url6)

In [102]:
job_description5=[]

In [103]:
description_tags5=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags5

In [104]:
for i in description_tags5:
    description5=i.text
    job_description5.append(description5)
job_description5

["KeywordData Analysis ,BI , SQL\nJob Description\nResponsible to analysis business requirement for data analytics purpose\nResponsible to design and develop business analysis model\nResponsible to design and develop for digital application\nResponsible to data visualization development\n\nQualifications:\nBachelor's Degree in Computer Science or mathematics/statistics\n2+ years of Data Analysis Experience\nGood at BI Products like MS Power BI, Tableau, Fine Report\nGood at Visualization Design for User Experience\nBe familiar with SQL Development\nExperience with Spark/Python for ETL/ELT Process development is preferred\nExperience with Hive, Vertica, Vector is preferred\nExperience in offshore team collaboration."]

In [105]:
url7="https://www.naukri.com/job-listings-senior-data-analyst-cerner-healthcare-solutions-india-private-limited-bangalore-bengaluru-3-to-5-years-250321002806?src=jobsearchDesk&sid=16169590946786670&xp=8&px=1"

In [106]:
driver.get(url7)

In [107]:
job_description6=[]

In [108]:
description_tags6=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags6

In [109]:
for i in description_tags6:
    description6=i.text
    job_description6.append(description6)
job_description6

["Roles and Responsibilities\nAs a Senior Data Analyst, you will analyze, prepare, and process data sets to be consumed for direct insights, statistical modeling or other analytical exploration for internal and external clients. You will consult on data and modeling impacts, guiding clients through interdependencies and analysis decision impacts. Your responsibility includes executing project deliverables with other data analytics team stakeholders and evaluate data sets for analytical possibilities and pitfalls. You will be expected to transform data as appropriate for specific team functions or processes and conduct statistical testing and exploratory data analysis. In this role, you will be creating data visualizations leveraging the design and data presentation guides along with pinpointing trends, correlations, and patterns in complex data sets. Additionally, you will apply subject matter expertise to complex data analytics challenges.\n\nExperience & Qualification:\nBachelor's or Master's degree in Mathematics, Statistics, Analytics, Actuarial Science, Information Systems or related field\nAt least 4 years of data analysis work experience including data management, transformation, and data management, transformation,\nAt least 4 years of experience in Data Science and hands-on programming experience in R/Python.\nConsult on data and modelling impacts, guiding clients through interdependencies and analysis decision impacts\nLeverage complex tools and processes to explore data sets for possibilities and pitfalls\nServe as subject matter expert in multiple analytic disciplines\nConduct sophisticated statistical testing and exploratory data analysis\nCreate statistical models for analysis and possible production\nCreate data visualizations leveraging design and data presentation guides\nManage projects and provide functional oversight for project management activities"]

In [110]:
url8="https://www.naukri.com/job-listings-data-analyst-business-analyst-latentview-analytics-private-limited-chennai-bangalore-bengaluru-1-to-6-years-190321000111?src=jobsearchDesk&sid=16169593506739700&xp=9&px=1"

In [111]:
driver.get(url8)

In [112]:
job_description7=[]

In [113]:
description_tags7=driver.find_elements_by_xpath("//div[@class='clearboth description']")
description_tags7

In [114]:
for i in description_tags7:
    description7=i.text
    job_description7.append(description7)
job_description7

['Hi All,\n\nWe are hiring passionate Data / Business Analyst !!!\n\nYears Of Experience: 1.5 - 8 Years\nLocation: Chennai / Bangalore\nNotice Period: Immediate to 30 days\n\nInterested candidates kindly inbox your profile to swathi.murali@latentview.com with the below details:\n\nYears of Experience\nNotice Period\nCurrent CTC\nExpected CTC\nNotice Period\nCurrent Location:\n\nJD :\n1.5+ Years of hands-on experience in delivering analytics solutions for businesses\nExpertise in RDBMS concepts, SQL or Oracle or Teradata\nExperience in SQL, R, Python and any visualization tool\nStrong problem solving, business analysis and quantitative skills; Good communication, Interpersonal skills \n\nRegards,\nTAG Team']

In [115]:
url9="https://www.naukri.com/job-listings-data-analyst-with-marketing-analytics-capco-capco-technologies-pvt-ltd-pune-bangalore-bengaluru-4-to-9-years-230321009419?src=jobsearchDesk&sid=16169605826601660&xp=10&px=1"

In [116]:
driver.get(url9)

In [119]:
job_description8=[]

In [117]:
description_tags8=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
description_tags8

In [120]:
for i in description_tags8:
    description8=i.text
    job_description8.append(description8)
job_description8

['Data Analyst with Marketing Analytics\n\nJob Description:\nDear,\n\nExperience - 4 to 17 Years\nLocation - Bangalore (Currently working from home since Mar 2020)\n\nSkills:- Marketing Analytics, Marketing Analysis, (Python or SQL or SAS)\n\nRole Description\nThis role provides regulatory data analytics using data from different geography. The primary responsibilities would be:\nUnderstand the Data Requirements for regulatory requirements\nPerform Data Analysis to develop data sourcing requirement\nExposure to regulatory/financial domain\nDevelop data quality rules and implement for data accuracy & Completeness\nAbility to interpret and manipulate large data sets, data storage, ETL and data modelling\nProven experience in Data Analysis role with programming skills in SQL and Python\nUse Group/Regional data source systems written in SQL, and various other data marts, for data cleaning, data quality, and to perform the necessary analysis to highlight key findings such as breaches from key risk parameters within Risk Strategy.\nStreamline SQL codes and migrate them to cloud using python.\nGood understanding of data governance, data quality, reference data and data lineage is preferred\nData Quality Monitoring (Data aggregation, interrogation, data lineage, data analytics)\nData Quality Issue Management (Data Risk Assessment, Root Cause Analysis)\nExposure to Pyspark']

In [124]:
url10="https://www.naukri.com/job-listings-data-analyst-business-analyst-latentview-analytics-private-limited-chennai-bangalore-bengaluru-1-to-6-years-190321000111?src=jobsearchDesk&sid=16169610784979557&xp=9&px=1"

In [125]:
driver.get(url10)

In [126]:
job_description9=[]

In [128]:
description_tags9=driver.find_elements_by_xpath("//div[@class='clearboth description']")
description_tags9

In [129]:
for i in description_tags9:
    description9=i.text
    job_description9.append(description9)
job_description9

['Hi All,\n\nWe are hiring passionate Data / Business Analyst !!!\n\nYears Of Experience: 1.5 - 8 Years\nLocation: Chennai / Bangalore\nNotice Period: Immediate to 30 days\n\nInterested candidates kindly inbox your profile to swathi.murali@latentview.com with the below details:\n\nYears of Experience\nNotice Period\nCurrent CTC\nExpected CTC\nNotice Period\nCurrent Location:\n\nJD :\n1.5+ Years of hands-on experience in delivering analytics solutions for businesses\nExpertise in RDBMS concepts, SQL or Oracle or Teradata\nExperience in SQL, R, Python and any visualization tool\nStrong problem solving, business analysis and quantitative skills; Good communication, Interpersonal skills \n\nRegards,\nTAG Team']

In [131]:
jobs['job_description']=job_description+job_description1+job_description2+job_description3+job_description4+job_description5+job_description6+job_description7+job_description8+job_description9

In [132]:
jobs

,title,company,location,experience,job_description
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,4-8 Yrs,About the team\nGroup Internal Audit is Flipka...
1,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs,Roles and Responsibilities\nBuilding and itera...
2,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs,Lists role title\n\nData Management Analyst\n\...
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs,Site Name: India - Karnataka - Bengaluru\nPost...
4,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-7 Yrs,Roles and Responsibilities\nWill be responsibl...
5,Data Analyst,Xiaomi,Bangalore/Bengaluru,2-6 Yrs,"KeywordData Analysis ,BI , SQL\nJob Descriptio..."
6,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs,Roles and Responsibilities\nAs a Senior Data A...
7,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs,"Hi All,\n\nWe are hiring passionate Data / Bus..."
8,Data Analyst / Business Analyst,LatentView Analytics Private Limited,"Chennai, Bangalore/Bengaluru",1-6 Yrs,Data Analyst with Marketing Analytics\n\nJob D...
9,Data Analyst with Marketing Analytics-Capco,Capco Technologies Pvt Ltd,"Pune, Bangalore/Bengaluru",4-9 Yrs,"Hi All,\n\nWe are hiring passionate Data / Bus..."

# Assignment question 3

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
#finding element for job search
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data scientist")

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
url11="https://www.naukri.com/data-scientist-jobs?k=data%20scientist"

In [7]:
driver.get(url11)

In [9]:
location_filter=driver.find_element_by_xpath("//div[@class='filterOptns']/div[2]")
location_filter.click()

In [10]:
s_filter=driver.find_element_by_xpath("//div[@class='filters']/div[3]/div[2]/div[2]")
s_filter.click()

In [11]:
job_titles1=[]
company_names1=[]
locations_list1=[]
experience_req1=[]

In [15]:
#lets extract all the tags having the job-titles
titles_tags1=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="2969771c-b151-497e-910d-f8b78c21c015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="faf716c7-27ec-4a60-84af-be08cfddc416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="4baa64f3-b1f0-4434-8952-ef9f22493bef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="a047c388-bab1-48b2-8ae0-711bb7206e7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="f61b9073-d588-4c31-8dd2-3e5ff15ce372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="ccfc4990-2dbd-4bbf-b4cd-4ab5ad9bfed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="58d572b3-89be-495e-8c52-2a6290976152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="a02af0df-d68c-4913-80b6-aa5a26c28e9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="730be013-18c0-4513-b004-c04f270f867c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="68869af5-df8c-476b-aee8-ac4b6a24fedc")>]

In [16]:
#we will run the loop to extract the text from the above tags extracted
for i in titles_tags1:
    title1=i.text
    job_titles1.append(title1)
job_titles1[0:10]

['Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python & Machine Learning',
 'Hiring For Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning (ISO 20022)',
 'GCP Presales AIML Architect & Data Scientist (Solution Expert / Archit']

In [17]:
#lets extract all the tags having the company-names
companies_tags1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="cd1589a2-e508-46d0-a1a8-3c5ea4641676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="0ef605ba-b45c-485b-9865-318e71fe1a11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="c45c6348-5498-4d11-a671-bf998518337a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="30c40773-73d6-493f-83ec-2261f3789f38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="e2684a0e-c8e6-4103-90c6-7498a46f3855")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="9caecc25-e5d9-45e0-acc9-d2f8a1988cd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="fdd89d9b-f6c8-4529-9a1e-853033279f3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="b80d0a92-5949-4bae-9753-9326eceafaf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="2d548ae9-8ccb-4bba-9991-0fd580a63e4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="f71bf744-909c-4de4-9d93-aa36364f241e")>]

In [18]:
#we will run the loop to extract the text from the above tags extracted
for i in companies_tags1:
    company_name1=i.text
    company_names1.append(company_name1)
company_names1[0:10]

['Axis Bank Limited',
 'Change leaders',
 'Amity University',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Max Bupa Health Insurance Company Limited',
 'TalPro',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Lecan Solutions Pvt Ltd']

In [19]:
#lets extract all the tags having the locations
locations_tags1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="f98e384a-4f0f-4134-b332-b9513140262c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="51cca888-e270-4133-abea-4ccb44f6b5bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="cadb4706-9cb2-436c-82b4-f503ff806075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="5f32e2fe-a174-4bca-95b0-b95056c7aa3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="f705d57d-61df-48ac-94cb-773868ef4c4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="5ac16063-1868-4b83-8da4-f24671508833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="da66913c-2119-44eb-9d49-5b07c8eb6017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="83908752-8d3b-4335-a3c5-447f7facdc62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="52126096-6c79-4279-aa13-b32bd4cf3d0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="8dbc39c0-95b7-4668-8c05-5291058b74a9")>]

In [20]:
#we will run the loop to extract the text from the above tags extracted
for i in locations_tags1:
    location1=i.text
    locations_list1.append(location1)
locations_list1[0:10]

['Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Ghaziabad',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida']

In [21]:
#lets extract all the tags having the locations
experience_tags1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags1[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="fc4e195e-04e4-44e4-892a-d5cc5b2d8543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="b445d4b4-50b4-4daf-ad75-2c01e4b16f15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="50473897-0781-424a-84be-c1bf45e383c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="88fa0b18-be3d-4022-ae8f-4ac77d321a3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="7ee5ed26-1aef-4c22-907b-9e98a66b0eb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="c9cef23b-cf3d-4e54-b82b-fea9cb1b353f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="a6d3d003-0a98-4770-afc3-999566e0a165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="79f0f64a-bf10-47f2-b35e-21210e47b04b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="9b8abf2c-2cad-4a55-b259-a142b8a6d5c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="835373cf905429e464ae75b1b7878f25", element="fa713ddd-a6e3-494a-9d86-f73d917900f0")>]

In [22]:
#we will run the loop to extract the text from the above tags extracted
for i in experience_tags1:
    experience1=i.text
    experience_req1.append(experience1)
experience_req1[0:10]

['4-9 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '1-6 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '6-11 Yrs']

In [23]:
import pandas as pd
jobs1=pd.DataFrame({})
jobs1['title']=job_titles1[0:10]
jobs1['company']=company_names1[0:10]
jobs1['location']=locations_list1[0:10]
jobs1['experience']=experience_req1[0:10]

In [24]:
jobs1

,title,company,location,experience
0,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
5,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,"Gurgaon/Gurugram, Delhi / NCR",1-6 Yrs
6,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon/Gurugram,2-6 Yrs
7,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
8,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
9,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,6-11 Yrs

# selenimum assignment 4

In [34]:
url12="https://www.glassdoor.co.in/index.htm"

In [35]:
driver.get(url12)

In [36]:
#finding element for job search
search_job1=driver.find_element_by_id("sc.keyword")
search_job1.send_keys("Data Scientist")
search_loc1=driver.find_element_by_id("sc.location")
search_loc1.send_keys("Noida")

In [37]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']/span[1]")
search_btn.click()

In [44]:
company_names2=[]
posting_dates=[]
ratings=[]

In [41]:
#lets extract all the tags having the company-names
companies_tags2=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span[1]")
companies_tags2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="bba4ebcd-9373-4a8d-8e4d-b95b5b8f9025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="2e1c74b4-fca1-45c8-820f-24c81757f411")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="8aadde1b-9b0b-41d4-a06d-e23cf7bc46cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="e9e4453a-a218-4a75-9ee9-0c3a7ab238a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="06764606-4263-41cb-81c3-22625758e494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="0029019c-8a6b-46f9-b2c1-8f6593a144ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="c34761d8-f29c-46ae-83fb-3c3bffc4bed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="ce63904b-631d-46b6-9c35-5b0737c83323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="ca1d667f-f67a-4c2d-8818-cb62b4a6f950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="dfec2c84-4162-4adc-a2d4-262c6a9d0953")>]

In [49]:
#we will run the loop to extract the text from the above tags extracted
for i in companies_tags2:
    company_name2=i.text
    company_names2.append(company_name2)
company_names2[0:10]

['Ericsson-Worldwide',
 'Elsevier',
 'Biz2Credit Inc',
 'Adobe',
 'Mahindra Comviva',
 '',
 'Salasar New Age Technologies',
 'Microsoft',
 'UnitedHealth Group',
 'xtLytics']

In [43]:
posting_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
posting_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="3f1821a4-a729-481a-91ba-8450572b699a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="93bea2c8-5612-4d98-ae12-653445a5a4ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="b800ec42-6950-416a-8eb5-20ba46c14592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="38569759-2a12-49a6-a331-2267e73641d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="0e040aae-f67f-4b5b-8903-8fbabc602015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="122dd293-ab61-4836-a4bb-2b7697b06bd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="f8a84bd6-ae72-4c9d-b721-0aa56b8f8fb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="94313866-7359-433a-be36-d9eed73524a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="b5f0e3ad-33c8-4cb6-8073-40f7005932da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="1fe58a40-13ad-4c92-b74f-dad8aed52c1d")>]

In [45]:
for i in posting_tags:
    posting_date=i.text
    posting_dates.append(posting_date)
posting_dates[0:10]

['24h', '5d', '24h', '7d', '13d', '5d', '3d', '10d', '25d', '6d']

In [46]:
ratings_tags=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
ratings_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="05b5c310-6f72-496c-92d7-3995600cb4a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="4bde384e-4113-4c28-894b-f4269edec8b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="ba43ef28-de46-481d-9c1b-750025d5d102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="b6d64264-224d-4ab5-ab2d-4e78503cc86f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="7ca0c996-0440-4ec0-bc54-03b060f38168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="697e2150-32f0-47a0-afcd-98228e08e38b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="ec7510f0-24c1-4cc9-9e43-626bb8a3db20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="c4a2bb81-90b4-468e-8522-3ffbf5b9f9dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="26ec6993-bfcd-42e3-81c0-20a129831893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c574ddd833b2e33b650bc8518cb0a36b", element="a8d4189a-4601-4106-8aee-dd50436cab85")>]

In [47]:
for i in ratings_tags:
    rating=i.text
    ratings.append(rating)
ratings[0:10]

['4.1', '4.3', '3.8', '4.4', '3.4', '3.6', '4.4', '3.6', '3.0', '3.9']

In [50]:
import pandas as pd
jobs2=pd.DataFrame({})
jobs2['company']=company_names2[0:10]
jobs2['posting date']=posting_dates[0:10]
jobs2['ratings']=ratings[0:10]
jobs2

                        company posting date ratings
0            Ericsson-Worldwide          24h     4.1
1                      Elsevier           5d     4.3
2                Biz2Credit Inc          24h     3.8
3                         Adobe           7d     4.4
4              Mahindra Comviva          13d     3.4
5                                         5d     3.6
6  Salasar New Age Technologies           3d     4.4
7                     Microsoft          10d     3.6
8            UnitedHealth Group          25d     3.0
9                      xtLytics           6d     3.9

# selenium assignment 5

In [1]:
url13="https://www.glassdoor.co.in/Salaries/index.htm"

In [4]:
driver.get(url13)

In [5]:
#finding element for job search
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.send_keys("Noida")

In [6]:
search_btn=driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [18]:
company_names3=[]
min_salarys=[]
max_salarys=[]
avg_salarys=[]
no_of_salaries=[]

In [22]:
#lets extract all the tags having the company-names
companies_tags3=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
companies_tags3[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="35e59f66-4b76-483f-a046-60e0b6c2e499")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="34896175-1abd-4608-82b3-8747ec754909")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="d6312b14-e34d-4050-b947-5a36668775ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="bd871d93-fa90-44b1-801f-e3760826a80b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="7a2e8252-9b5b-4a65-a5e7-c888ea97ee66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="dbd8de92-6c49-4c23-ac05-87c42d998967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="ff8c0274-dd92-4549-9d2d-9e8dab167b19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="6ae8f9a4-c242-4f2a-8c11-c3874e1becfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="af51a366-dd07-49bb-96d8-f1f694f7d771")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="01337285-dee2-4753-a252-34809a7dea89")>]

In [23]:
#we will run the loop to extract the text from the above tags extracted
for i in companies_tags3:
    company_name3=i.text
    company_names3.append(company_name3)
company_names3[0:10]

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'ZS Associates',
 'EXL Service']

In [24]:
min_salary_tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
min_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="b915e12c-d3e4-453b-872a-7e8964aed4fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="eb780acf-8a48-4544-8238-181f7b49d004")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="112848b4-b7de-446e-9ba3-747ff4729aa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="d95fd300-f94f-4b05-b57b-6303b714653e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="bbe3f7c0-3d9a-4017-a22c-b451e64e0a43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="a52da753-025c-46d3-b77c-a6fd03ef729f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="77e2322d-0452-4803-89da-8277f9e6b772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="909ae330-4355-4f6c-b3e7-a6b0c1eecf2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="f31c113e-afdc-4843-8cfe-e651d962fc68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="725a08e3-1b54-4273-bd4c-53c8f94e7fd9")>]

In [25]:
#we will run the loop to extract the text from the above tags extracted
for i in min_salary_tags:
    min_salary=i.text
    min_salarys.append(min_salary)
min_salarys[0:10]

['₹336L',
 '₹579L',
 '₹452L',
 '₹589L',
 '₹350L',
 '₹1,050L',
 '₹504L',
 '₹623L',
 '₹203L',
 '₹578L']

In [26]:
max_salary_tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
max_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="9590dfe4-2654-4f27-b42a-c6e77d811f0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="610f2f90-c512-4ec0-8ecd-9bf44e845c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="c1404e05-b4d8-4096-b852-56d84c29cbb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="ede6123e-c5bd-4d8f-ac9b-6de65de9e4e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="ea7b4b72-a6a6-4a77-ae24-cec7d733f3bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="7589a81b-079e-40f7-8dbc-be8e2bc02ede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="223a11fd-99f7-4441-a6b7-659b5c03751c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="a2b9eaf9-45b9-4865-86b1-032adcd806af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="1c0d693b-5858-41e5-88b8-0ffac6752a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="a52e21f7-60ad-414b-b72d-98b85502df2b")>]

In [27]:
#we will run the loop to extract the text from the above tags extracted
for i in max_salary_tags:
    max_salary=i.text
    max_salarys.append(max_salary)
max_salarys[0:10]

['₹1,080L',
 '₹2,222L',
 '₹11,669L',
 '₹2,741L',
 '₹1,619L',
 '₹1,500L',
 '₹1,471L',
 '₹1,702L',
 '₹1,817L',
 '₹1,500L']

In [28]:
avg_salary_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="0ce73000-0eae-4ab7-b19d-94be199286f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="72b1ebcd-9603-4341-a0e1-ab3f6575e7ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="d1fad58e-d3e3-4152-9630-ad0e49be445c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="5eff7ed4-f4ca-4a83-89dd-62bd8de68dd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="1470d35f-b679-49b0-b9e6-227de93d5e57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="e2e24831-e0e7-49a7-8f9e-8be51ac97687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="b380789a-e45d-48ab-a96a-4f5d2aa48b0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="d435f046-3e05-4fa5-b9aa-dcdc3e62a605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="29c10729-1632-4d5a-8b44-7473ad57fff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="0628b023-624b-4b48-aaf7-aff28289b44c")>]

In [29]:
#we will run the loop to extract the text from the above tags extracted
for i in avg_salary_tags:
    avg_salary=i.text
    avg_salarys.append(avg_salary)
avg_salarys[0:10]

['₹ 6,01,000\n/yr',
 '₹ 11,51,207\n/yr',
 '₹ 12,34,207\n/yr',
 '₹ 7,63,825\n/yr',
 '₹ 7,32,209\n/yr',
 '₹ 13,88,910\n/yr',
 '₹ 8,18,515\n/yr',
 '₹ 12,01,403\n/yr',
 '₹ 10,00,000\n/yr',
 '₹ 11,90,000\n/yr']

In [30]:
no_of_salary_tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
no_of_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="8b64a49c-b0b6-4b2d-8cfb-da7201f1388c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="2394cdb9-131b-42bf-954f-adffdf30bbf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="4f108145-1f6e-46e7-9595-a9d4f77b29ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="3298c7b8-30ba-4f09-98a0-02881d6a13e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="ff754973-2969-4f21-8fba-317108c25a9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="17d5b8f4-73a7-40d1-8701-5ed46b624fbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="fa198a5f-b544-47a0-b1aa-0732dfaf672e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="d73d0e0d-eafd-4d22-a106-0931072aa71f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="02438c51-2370-445b-bab6-5114eb8061e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bf0f7fac6388473386885b2303d40cd", element="d0ccf2a0-d999-4a0f-b7f5-974bb518faff")>]

In [31]:
#we will run the loop to extract the text from the above tags extracted
for i in no_of_salary_tags:
    no_of_salary=i.text
    no_of_salaries.append(no_of_salary)
no_of_salaries[0:10]

['14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries']

In [32]:
import pandas as pd
salaries=pd.DataFrame({})
salaries['company name']=company_names3[0:10]
salaries['min salary']=min_salarys[0:10]
salaries['max salary']=max_salarys[0:10]
salaries['no.of salary']=no_of_salaries[0:10]
salaries

                company name min salary max salary no.of salary
0  Tata Consultancy Services      ₹336L    ₹1,080L  14 salaries
1                  Accenture      ₹579L    ₹2,222L  14 salaries
2                  Delhivery      ₹452L   ₹11,669L  14 salaries
3                        IBM      ₹589L    ₹2,741L  13 salaries
4         Ericsson-Worldwide      ₹350L    ₹1,619L  12 salaries
5         UnitedHealth Group    ₹1,050L    ₹1,500L  10 salaries
6         Valiance Solutions      ₹504L    ₹1,471L   9 salaries
7                 Innovaccer      ₹623L    ₹1,702L   8 salaries
8              ZS Associates      ₹203L    ₹1,817L   7 salaries
9                EXL Service      ₹578L    ₹1,500L   7 salaries

# selenium assignment 6

In [18]:
url14="https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=6f620000-eabe-45ff-8321-cac957352f0a&as-searchtext=sung"

In [19]:
driver.get(url14)

In [20]:
brand=[]
product_des=[]
price=[]
discount=[]

In [21]:
import time

In [25]:
for i in range(0,2):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_des.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]"):
        discount.append(m.text)
    time.sleep(3)
    url15=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute("href")
    driver.get(url15)

In [26]:
brand

['Aislin',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Singco India',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'phenomenal',
 'DEIXELS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Singco India',
 'HIPPON',
 'Fastrack',
 'Fastrack',
 'Aislin',
 'DEIXELS',
 'SRPM',
 'DEIXELS',
 'Aislin',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'Silver Kartz',
 'Fastrack',
 'Singco India',
 'ROYAL SON',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'Aislin',
 'Fastrack',
 'hipe',
 'PIRASO',
 'Aislin',
 'ROYAL SON',
 'phenomenal',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'NuVew',
 'ROYAL SON',
 'ROYAL SON',
 'Aislin',
 'GANSTA',
 'Aislin',
 'hipe',
 'GANSTA',
 'Silver Kartz',
 'BKGE',
 'Aislin',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Aislin',
 'ROYAL SON',
 'BKGE',
 'NuVew',
 'Aislin',
 'Badfella',
 'hipe',
 'Aislin',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'Silver Kartz',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'Aislin',
 'Aislin',
 'Aislin',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Singco India',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'phenomenal',
 'DEIXELS',
 'Aislin',
 'ROZZETTA CRAFT',
 'Singco India',
 'HIPPON',
 'Fastrack',
 'Fastrack',
 'Aislin',
 'DEIXELS',
 'SRPM',
 'DEIXELS',
 'Aislin',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'Silver Kartz',
 'Fastrack',
 'Singco India',
 'ROYAL SON',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON']

In [27]:
len(brand)

120

In [28]:
product_des

['UV Protection Wayfarer, Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Gradient, UV Protection, Night Vision, Riding...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer, Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Others Wayfarer, Rectangular Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Polarized Rectangular Sunglasses (53)',
 'UV Protection, Gradient Wayfarer, Over-sized Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection, Polarized Rectangular, Retro Square Sung...',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (88)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Wayfarer, Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)']

In [29]:
price

['₹867',
 '₹195',
 '₹758',
 '₹499',
 '₹225',
 '₹733',
 '₹499',
 '₹202',
 '₹569',
 '₹225',
 '₹674',
 '₹379',
 '₹202',
 '₹265',
 '₹404',
 '₹322',
 '₹251',
 '₹761',
 '₹759',
 '₹358',
 '₹200',
 '₹189',
 '₹189',
 '₹459',
 '₹246',
 '₹759',
 '₹225',
 '₹837',
 '₹674',
 '₹599',
 '₹299',
 '₹559',
 '₹195',
 '₹749',
 '₹209',
 '₹499',
 '₹1,091',
 '₹284',
 '₹379',
 '₹545',
 '₹759',
 '₹210',
 '₹250',
 '₹867',
 '₹399',
 '₹379',
 '₹449',
 '₹399',
 '₹318',
 '₹379',
 '₹474',
 '₹788',
 '₹288',
 '₹358',
 '₹210',
 '₹284',
 '₹299',
 '₹389',
 '₹592',
 '₹499',
 '₹449',
 '₹199',
 '₹425',
 '₹599',
 '₹394',
 '₹255',
 '₹472',
 '₹269',
 '₹219',
 '₹425',
 '₹759',
 '₹1,097',
 '₹195',
 '₹749',
 '₹255',
 '₹399',
 '₹265',
 '₹349',
 '₹630',
 '₹545',
 '₹867',
 '₹195',
 '₹758',
 '₹499',
 '₹225',
 '₹733',
 '₹499',
 '₹202',
 '₹569',
 '₹225',
 '₹674',
 '₹379',
 '₹202',
 '₹358',
 '₹404',
 '₹322',
 '₹251',
 '₹761',
 '₹759',
 '₹459',
 '₹200',
 '₹189',
 '₹189',
 '₹316',
 '₹246',
 '₹759',
 '₹225',
 '₹837',
 '₹674',
 '₹599',
 '₹299',
 '₹559',
 '₹195',
 '₹265',
 '₹209',
 '₹499',
 '₹1,091',
 '₹284',
 '₹379',
 '₹749']

In [30]:
discount

['78% off',
 '75% off',
 '15% off',
 '50% off',
 '85% off',
 '18% off',
 '77% off',
 '71% off',
 '43% off',
 '85% off',
 '15% off',
 '81% off',
 '83% off',
 '79% off',
 '79% off',
 '73% off',
 '79% off',
 '15% off',
 '15% off',
 '76% off',
 '59% off',
 '62% off',
 '76% off',
 '69% off',
 '83% off',
 '15% off',
 '85% off',
 '6% off',
 '15% off',
 '60% off',
 '75% off',
 '30% off',
 '80% off',
 '62% off',
 '73% off',
 '77% off',
 '16% off',
 '85% off',
 '74% off',
 '64% off',
 '15% off',
 '85% off',
 '84% off',
 '78% off',
 '73% off',
 '81% off',
 '79% off',
 '73% off',
 '68% off',
 '74% off',
 '68% off',
 '78% off',
 '85% off',
 '76% off',
 '85% off',
 '85% off',
 '75% off',
 '80% off',
 '72% off',
 '77% off',
 '77% off',
 '80% off',
 '72% off',
 '60% off',
 '78% off',
 '67% off',
 '69% off',
 '73% off',
 '78% off',
 '80% off',
 '15% off',
 '15% off',
 '75% off',
 '62% off',
 '78% off',
 '73% off',
 '79% off',
 '78% off',
 '74% off',
 '64% off',
 '78% off',
 '75% off',
 '15% off',
 '50% off',
 '85% off',
 '18% off',
 '77% off',
 '71% off',
 '43% off',
 '85% off',
 '15% off',
 '81% off',
 '83% off',
 '76% off',
 '79% off',
 '73% off',
 '79% off',
 '15% off',
 '15% off',
 '69% off',
 '59% off',
 '62% off',
 '76% off',
 '81% off',
 '83% off',
 '15% off',
 '85% off',
 '6% off',
 '15% off',
 '60% off',
 '75% off',
 '30% off',
 '80% off',
 '79% off',
 '73% off',
 '77% off',
 '16% off',
 '85% off',
 '74% off',
 '62% off']

# selenium assignment 7

In [36]:
url16="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"

In [37]:
driver.get(url16)

In [35]:
ratings1=[]
review_sum=[]
full_review=[]

In [38]:
for i in range(0,9):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        ratings1.append(j.text)
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review_sum.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_review.append(l.text)
    time.sleep(3)
    url17=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute("href")
    driver.get(url17)

In [39]:
ratings1

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [41]:
review_sum

['Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Worth every penny',
 'Simply awesome',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Terrific',
 'Brilliant',
 'Terrific purchase',
 'Wonderful',
 'Must buy!',
 'Mind-blowing purchase',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Worth every penny',
 'Simply awesome',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Terrific',
 'Brilliant',
 'Terrific purchase',
 'Wonderful',
 'Must buy!',
 'Mind-blowing purchase',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Worth every penny',
 'Simply awesome',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Terrific',
 'Brilliant',
 'Terrific purchase',
 'Wonderful',
 'Must buy!',
 'Mind-blowing purchase',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Worth every penny',
 'Simply awesome',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Terrific',
 'Brilliant',
 'Terrific purchase',
 'Wonderful',
 'Must buy!',
 'Mind-blowing purchase',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Worth every penny']

In [42]:
len(review_sum)

90

In [43]:
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',

In [44]:
len(full_review)

90

# selenium assignment 8

In [13]:
url18="https://www.flipkart.com/"

In [14]:
driver.get(url18)

In [15]:
search_sneakers=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sneakers.send_keys("sneakers")

In [18]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [19]:
brand1=[]
product_des1=[]
price1=[]
discount1=[]

In [20]:
import time
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand1.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_des1.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price1.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]"):
        discount1.append(m.text)
    time.sleep(3)
    url19=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute("href")
    driver.get(url19)

In [21]:
len(brand1)

120

# selenium assignment 9

In [3]:
url20="https://www.myntra.com/shoes"

In [4]:
driver.get(url20)

In [6]:
price_filter=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label[1]")
price_filter.click()

In [5]:
color_filter=driver.find_element_by_xpath("//li[@class='colour-listItem']/label[1]")
color_filter.click()

In [7]:
shoe_brand=[]
shoe_desc=[]
shoe_price=[]

In [8]:
import time
for i in range(0,2):
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        shoe_brand.append(j.text)
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        shoe_desc.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='product-price']"):
        shoe_price.append(l.text)
    time.sleep(3)
    url21=driver.find_element_by_xpath("//li[@class='pagination-next']/a[1]").get_attribute("href")
    driver.get(url21)

In [10]:
len(shoe_desc)

100

In [11]:
len(shoe_price)

100

In [9]:
len(shoe_brand)

100

In [12]:
import pandas as pd
shoes=pd.DataFrame({})
shoes['Brand']=shoe_brand
shoes['Description']=shoe_desc
shoes['Price']=shoe_price

In [13]:
shoes

,Brand,Description,Price
0,Nike,Men JORDAN DELTA Basketball,Rs. 12495
1,Nike,Men AF1/1 Sneakers,Rs. 10620Rs. 12495(Rs. 1875 OFF)
2,Nike,Men AIR ZOOM Running Shoes,Rs. 10796Rs. 13495(Rs. 2699 OFF)
3,Nike,Women Running Shoes,Rs. 7796Rs. 11995(Rs. 4199 OFF)
4,Nike,Men REACT MILER Running Shoes,Rs. 8796Rs. 10995(Rs. 2199 OFF)
...,...,...,...
95,Ruosh,Men Solid Leather Formal Monks,Rs. 6990
96,Hush Puppies,Men Leather Derbys,Rs. 7999
97,Ruosh,Men Textured Leather Monks,Rs. 6990
98,Hush Puppies,Men Textured Oxfords,Rs. 6999
99,Bugatti,Women Black Sneakers,Rs. 7999

# selenium assignment 10

In [35]:
url22="https://www.amazon.in/"

In [36]:
driver.get(url22)

In [37]:
search_laptop=driver.find_element_by_id("twotabsearchtextbox")
search_laptop.send_keys("Laptop")

In [38]:
search_btn2=driver.find_element_by_id("nav-search-submit-button")
search_btn2.click()

In [39]:
laptop_titles=[]
laptop_prices=[]

In [41]:
cpu_filter=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[15]/span[1]/a[1]/div[1]")
cpu_filter.click()

In [40]:
cpu_filter1=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[16]/span[1]/a[1]/div[1]")
cpu_filter1.click()

In [42]:
#lets extract all the tags having the laptop-titles
laptop_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
laptop_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="91fd3016-3333-4a41-8a5f-c7d8b63bf5e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="8bb6da4a-680e-4d3d-add8-f4d140864dab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="fa95cff8-316c-4927-8825-71b027c82846")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="143e3278-683a-4fbc-bad4-7cd71ffb2d31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="11056b1a-097d-4421-aefa-26edd2c32dc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="0d2f6e06-7898-40c9-b43d-8e6cb6c9569b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="10f9769c-a37f-48f5-9d33-43fd9ec4d917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="ba101bad-a3d6-4b22-b7a4-a835491db06f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="2dec895b-cb24-4623-b8b6-63c978e7af57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="63dc5fb7-eb49-42c0-bcb7-b26d9ef22cf0")>]

In [43]:
#we will run the loop to extract the text from the above tags extracted
for i in laptop_tags:
    laptop_title=i.text
    laptop_titles.append(laptop_title)
laptop_titles[0:10]

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'DELL Inspiron G3 3590 15.6-inch Laptop (9th Gen Core i7-9570H/8GB/512GB SSD/ Nvidia GTX 1660Ti 6GB Graphics /Windows 10 Home+ MS Office), Black',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 "(Renewed) HP EliteBook 820 G4 Laptop (CORE I5 7TH GEN/8GB/512GB SSD/WEBCAM/12.5'' TOUCH/WIN 10 PRO)",
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ROG Zephyrus M15 (2020), 15.6" 4K UHD, Intel Core i7-10750H 10th Gen, RTX 2060 GDDR6 6GB Graphics, Gaming Laptop (16GB RAM/1TB NVMe SSD/Windows 10/Prism Black/1.9 Kg), GU502LV-HC140T']

In [49]:
from selenium.common.exceptions import NoSuchElementException
Ratings=[]

In [50]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))# getting the urls of first 10 laptops
for url in UR: #loop for every laptop in the list
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratings link
        rate.click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']") # locating the ratings
        Ratings.append(rating.text)
        
    except NoSuchElementException as e:
        Ratings.append('No Ratings')

In [51]:
laptop_price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
laptop_price_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="93a495d4-ef25-47c4-a71e-ade615d5a244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="d01b07f3-0229-4091-97b8-498f0cc4c5b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="30a5d283-d7ed-4b34-893e-d38bb9ee076b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="7c82e8a1-e346-45db-92a2-f7623234726e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="e9b87935-9491-4ed3-be37-e944765aa6e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="7ff0791b-fbcb-41f6-8f2d-d4aa529c7bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="a60a851e-5509-4b13-b45d-2508706aa7d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="73027b92-5774-4636-9e57-3ab43ded2b43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="6bdf9dc8-be26-40d6-9982-95a3f77e5f31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9eb83e511a07954812bb40ec0eaf611e", element="e22338f3-2a82-4826-91d9-8af4ad0155ea")>]

In [52]:
for i in laptop_price_tags:
    laptop_price=i.text
    laptop_prices.append(laptop_price)
laptop_prices[0:10]

['86,990',
 '1,04,500',
 '1,32,519',
 '1,98,590',
 '49,999',
 '40,790',
 '1,35,490',
 '76,500',
 '1,46,500',
 '78,990']

In [53]:
import pandas as pd
laptops=pd.DataFrame({})
laptops['title']=laptop_titles[0:10]
laptops['ratings']=Ratings[0:10]
laptops['Price']=laptop_prices[0:10]

ValueError: Length of values does not match length of index