In [1]:
#importing the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

In [2]:
from selenium.common.exceptions import NoSuchElementException

In [3]:
#let connect with the driver
driver = webdriver.Chrome(r"C:\Users\Nikhil\Downloads\chromedriver_win32\chromedriver.exe")

In [46]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [47]:
ranks=[]
names=[]
artists=[]
upload_dates=[]
views=[]

In [48]:
for j in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[1]"):
    ranks.append(j.text)

In [49]:
ranks[0:30]

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [50]:
for k in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[2]"):
    names.append(k.text)

In [53]:
names[0:30]

['"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"Shape of You"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"See You Again"[27]',
 '"Masha and the Bear – Recipe for Disaster"[30]',
 '"Uptown Funk"[31]',
 '"Gangnam Style"[32]',
 '"Learning Colors – Colorful Eggs on a Farm"[34]',
 '"Bath Song"[35]',
 '"Phonics Song with Two Words"[36]',
 '"Sugar"[37]',
 '"Sorry"[38]',
 '"Roar"[39]',
 '"Dame Tu Cosita"[40]',
 '"Counting Stars"[41]',
 '"Thinking Out Loud"[42]',
 '"Dark Horse"[43]',
 '"Shake It Off"[44]',
 '"Faded"[45]',
 '"Lean On"[46]',
 '"Bailando"[47]',
 '"Girls Like You"[48]',
 '"Let Her Go"[49]',
 '"Mi Gente"[50]',
 '"Wheels on the Bus"[51]',
 '"Hello"[52]',
 '"Perfect"[53]',
 '"Waka Waka (This Time for Africa)"[54]',
 '"Axel F"[55]']

In [54]:
len(names)

49

In [64]:
import pandas as pd
youtube=pd.DataFrame({})
youtube['ranks']=ranks[0:30]
youtube['name']=names[0:30]

In [65]:
youtube

   ranks                                             name
0     1.                           "Baby Shark Dance"[22]
1     2.                                  "Despacito"[24]
2     3.                               "Shape of You"[25]
3     4.                       "Johny Johny Yes Papa"[26]
4     5.                              "See You Again"[27]
5     6.   "Masha and the Bear – Recipe for Disaster"[30]
6     7.                                "Uptown Funk"[31]
7     8.                              "Gangnam Style"[32]
8     9.  "Learning Colors – Colorful Eggs on a Farm"[34]
9    10.                                  "Bath Song"[35]
10   11.                "Phonics Song with Two Words"[36]
11   12.                                      "Sugar"[37]
12   13.                                      "Sorry"[38]
13   14.                                       "Roar"[39]
14   15.                             "Dame Tu Cosita"[40]
15   16.                             "Counting Stars"[41]
16   17.                          "Thinking Out Loud"[42]
17   18.                                 "Dark Horse"[43]
18   19.                               "Shake It Off"[44]
19   20.                                      "Faded"[45]
20   21.                                    "Lean On"[46]
21   22.                                   "Bailando"[47]
22   23.                             "Girls Like You"[48]
23   24.                                 "Let Her Go"[49]
24   25.                                   "Mi Gente"[50]
25   26.                          "Wheels on the Bus"[51]
26   27.                                      "Hello"[52]
27   28.                                    "Perfect"[53]
28   29.           "Waka Waka (This Time for Africa)"[54]
29   30.                                     "Axel F"[55]

In [57]:
for l in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[3]"):
    artists.append(l.text)

In [58]:
artists

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'Ed Sheeran',
 'LooLoo Kids',
 'Wiz Khalifa',
 'Get Movies',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'El Chombo',
 'OneRepublic',
 'Ed Sheeran',
 'Katy Perry',
 'Taylor Swift',
 'Alan Walker',
 'Major Lazer Official',
 'Enrique Iglesias',
 'Maroon 5',
 'Passenger',
 'J Balvin',
 'Cocomelon – Nursery Rhymes',
 'Adele',
 'Ed Sheeran',
 'Shakira',
 'Crazy Frog',
 '7,037,500,000',
 '2,993,700,000',
 '2,894,000,000',
 '803,700,000',
 '245,400,000',
 '178,400,000',
 '128,900,000',
 '118,900,000',
 '92,600,000',
 '78,400,000',
 '76,600,000',
 '10,600,000',
 '4,300,000',
 '2,700,000',
 '3,400,000',
 '2,300,000',
 '255,000',
 '247,000',
 '1']

In [59]:
for m in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[4]"):
    views.append(m.text)

In [60]:
views

['8.43',
 '7.32',
 '5.29',
 '5.22',
 '5.08',
 '4.43',
 '4.16',
 '4.05',
 '3.96',
 '3.94',
 '3.77',
 '3.45',
 '3.43',
 '3.33',
 '3.28',
 '3.27',
 '3.24',
 '3.05',
 '3.05',
 '3.05',
 '3.02',
 '3.01',
 '3.01',
 '2.97',
 '2.90',
 '2.88',
 '2.83',
 '2.82',
 '2.80',
 '2.77',
 'June 17, 2016',
 'January 12, 2017',
 'April 6, 2015',
 'July 15, 2012',
 'February 19, 2010',
 'November 24, 2009',
 'May 22, 2007',
 'April 6, 2006',
 'February 27, 2007',
 'April 6, 2006',
 'April 9, 2007',
 'April 6, 2006',
 'November 28, 2005',
 'January 31, 2006',
 'December 1, 2005',
 'December 18, 2005',
 'October 21, 2005',
 'October 5, 2005',
 'April 23, 2005']

In [61]:
for n in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[5]"):
    upload_dates.append(n.text)

In [62]:
upload_dates

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'October 8, 2016',
 'April 6, 2015',
 'January 31, 2012',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'May 2, 2018',
 'March 6, 2014',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'April 5, 2018',
 'May 31, 2013',
 'October 7, 2014',
 'February 20, 2014',
 'August 18, 2014',
 'December 3, 2015',
 'March 22, 2015',
 'April 11, 2014',
 'May 31, 2018',
 'July 25, 2012',
 'June 29, 2017',
 'May 24, 2018',
 'October 22, 2015',
 'November 9, 2017',
 'June 4, 2010',
 'June 16, 2009',
 'November 2, 2020',
 'August 4, 2017',
 'July 10, 2017',
 'November 24, 2012',
 'July 16, 2010',
 'April 14, 2010',
 'October 25, 2009',
 'May 2, 2009',
 'July 17, 2008',
 'March 15, 2008',
 'March 1, 2008',
 'May 19, 2006',
 'March 12, 2006',
 'February 18, 2006',
 'January 21, 2006',
 'January 9, 2006',
 'October 31, 2005',
 'October 29, 2005',
 'April 23, 2005']

In [66]:

youtube['views']=views[0:30]
youtube['upload dates']=upload_dates[0:30]

In [67]:
youtube

,ranks,name,views,upload dates
0,1.,"""Baby Shark Dance""[22]",8.43,"June 17, 2016"
1,2.,"""Despacito""[24]",7.32,"January 12, 2017"
2,3.,"""Shape of You""[25]",5.29,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""[26]",5.22,"October 8, 2016"
4,5.,"""See You Again""[27]",5.08,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",4.43,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",4.16,"November 19, 2014"
7,8.,"""Gangnam Style""[32]",4.05,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",3.96,"February 27, 2018"
9,10.,"""Bath Song""[35]",3.94,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[36]",3.77,"March 6, 2014"
11,12.,"""Sugar""[37]",3.45,"January 14, 2015"
12,13.,"""Sorry""[38]",3.43,"October 22, 2015"
13,14.,"""Roar""[39]",3.33,"September 5, 2013"
14,15.,"""Dame Tu Cosita""[40]",3.28,"April 5, 2018"
15,16.,"""Counting Stars""[41]",3.27,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",3.24,"October 7, 2014"
17,18.,"""Dark Horse""[43]",3.05,"February 20, 2014"
18,19.,"""Shake It Off""[44]",3.05,"August 18, 2014"
19,20.,"""Faded""[45]",3.05,"December 3, 2015"
20,21.,"""Lean On""[46]",3.02,"March 22, 2015"
21,22.,"""Bailando""[47]",3.01,"April 11, 2014"
22,23.,"""Girls Like You""[48]",3.01,"May 31, 2018"
23,24.,"""Let Her Go""[49]",2.97,"July 25, 2012"
24,25.,"""Mi Gente""[50]",2.90,"June 29, 2017"
25,26.,"""Wheels on the Bus""[51]",2.88,"May 24, 2018"
26,27.,"""Hello""[52]",2.83,"October 22, 2015"
27,28.,"""Perfect""[53]",2.82,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",2.80,"June 4, 2010"
29,30.,"""Axel F""[55]",2.77,"June 16, 2009"

In [70]:
youtube['artists']=artists[0:30]

In [71]:
youtube

,ranks,name,views,upload dates,artists
0,1.,"""Baby Shark Dance""[22]",8.43,"June 17, 2016",Pinkfong Kids' Songs & Stories
1,2.,"""Despacito""[24]",7.32,"January 12, 2017",Luis Fonsi
2,3.,"""Shape of You""[25]",5.29,"January 30, 2017",Ed Sheeran
3,4.,"""Johny Johny Yes Papa""[26]",5.22,"October 8, 2016",LooLoo Kids
4,5.,"""See You Again""[27]",5.08,"April 6, 2015",Wiz Khalifa
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",4.43,"January 31, 2012",Get Movies
6,7.,"""Uptown Funk""[31]",4.16,"November 19, 2014",Mark Ronson
7,8.,"""Gangnam Style""[32]",4.05,"July 15, 2012",Psy
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",3.96,"February 27, 2018",Miroshka TV
9,10.,"""Bath Song""[35]",3.94,"May 2, 2018",Cocomelon – Nursery Rhymes
10,11.,"""Phonics Song with Two Words""[36]",3.77,"March 6, 2014",ChuChu TV
11,12.,"""Sugar""[37]",3.45,"January 14, 2015",Maroon 5
12,13.,"""Sorry""[38]",3.43,"October 22, 2015",Justin Bieber
13,14.,"""Roar""[39]",3.33,"September 5, 2013",Katy Perry
14,15.,"""Dame Tu Cosita""[40]",3.28,"April 5, 2018",El Chombo
15,16.,"""Counting Stars""[41]",3.27,"May 31, 2013",OneRepublic
16,17.,"""Thinking Out Loud""[42]",3.24,"October 7, 2014",Ed Sheeran
17,18.,"""Dark Horse""[43]",3.05,"February 20, 2014",Katy Perry
18,19.,"""Shake It Off""[44]",3.05,"August 18, 2014",Taylor Swift
19,20.,"""Faded""[45]",3.05,"December 3, 2015",Alan Walker
20,21.,"""Lean On""[46]",3.02,"March 22, 2015",Major Lazer Official
21,22.,"""Bailando""[47]",3.01,"April 11, 2014",Enrique Iglesias
22,23.,"""Girls Like You""[48]",3.01,"May 31, 2018",Maroon 5
23,24.,"""Let Her Go""[49]",2.97,"July 25, 2012",Passenger
24,25.,"""Mi Gente""[50]",2.90,"June 29, 2017",J Balvin
25,26.,"""Wheels on the Bus""[51]",2.88,"May 24, 2018",Cocomelon – Nursery Rhymes
26,27.,"""Hello""[52]",2.83,"October 22, 2015",Adele
27,28.,"""Perfect""[53]",2.82,"November 9, 2017",Ed Sheeran
28,29.,"""Waka Waka (This Time for Africa)""[54]",2.80,"June 4, 2010",Shakira
29,30.,"""Axel F""[55]",2.77,"June 16, 2009",Crazy Frog

# question 2

In [13]:
driver.get("https://www.bcci.tv/")

In [14]:
search_btn=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
search_btn.click()

In [15]:
search_btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div[1]/ul[1]/li[1]")
search_btn1.click()

In [16]:
titles=[]
series=[]
places=[]
dates=[]
time=[]

In [28]:
dates1=[]

In [17]:
for l in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    titles.append(l.text)

In [18]:
titles

['Final', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [21]:
for m in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(m.text)

In [22]:
series

['ICC WORLD TEST CHAMPIONSHIP FINAL',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [24]:
for n in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span[1]"):
    places.append(n.text)

In [25]:
places

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [26]:
for o in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span[1]"):
    dates.append(o.text)

In [27]:
dates

['18', '04', '12', '25', '02', '10']

In [29]:
for p in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div[1]/span[1]"):
    dates1.append(p.text)

In [30]:
dates1

['JUNE', 'AUGUST', 'AUGUST', 'AUGUST', 'SEPTEMBER', 'SEPTEMBER']

In [35]:
for q in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div[1]/span[2]"):
    time.append(q.text)

In [36]:
time

['15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [37]:
import pandas as pd
cricket=pd.DataFrame({})
cricket['titles']=titles
cricket['series']=series
cricket['places']=places
cricket['dates']=dates
cricket['dates1']=dates1
cricket['time']=time

In [38]:
cricket

,titles,series,places,dates,dates1,time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18,JUNE,15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

# question 3

In [85]:
driver.get("https://www.guru99.com/")

In [86]:
search=driver.find_element_by_id("gsc-i-id2")
search.send_keys("selenium exception")

In [87]:
search_btn=driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")

In [88]:
search_btn.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=90.0.4430.93)

In [90]:
search_btn1=driver.find_element_by_xpath("//a[@class='gs-title']")
search_btn1.click()

In [91]:
name=[]
description=[]

In [92]:
driver.get("https://www.guru99.com/exception-handling-selenium.html")

In [94]:
for l in driver.find_elements_by_xpath("//section[@id='g-container-main']/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/h1"):
    name.append(l.text)

In [95]:
name

['Selenium Exception Handling (Common Exceptions List)']

In [96]:
for m in driver.find_elements_by_xpath("//div[@class='item-page']/div[2]/div[2]/p[1]"):
    description.append(m.text)

In [97]:
description

['An exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.']

In [98]:
for n in driver.find_elements_by_xpath("//div[@class='item-page']/div[2]/div[2]/p[2]"):
    description.append(n.text)

In [99]:
description

['An exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.',
 'The exception indicates that, although the event can occur, this type of event happens infrequently. When the method is not able to handle the Exception, it is thrown to its caller function. Eventually, when an exception is thrown out of the main function, the program is terminated abruptly.']

In [102]:
for n in driver.find_elements_by_xpath("//div[@class='item-page']/div[2]/div[2]/p[2]"):
    description.append(n.text)

In [103]:
description

['An exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.',
 'The exception indicates that, although the event can occur, this type of event happens infrequently. When the method is not able to handle the Exception, it is thrown to its caller function. Eventually, when an exception is thrown out of the main function, the program is terminated abruptly.',
 '',
 '']

# question 4

In [111]:
driver.get("http://statisticstimes.com/")

In [112]:
search_btn=driver.find_element_by_xpath("//div[@class='dropdown']/button[1]")
search_btn.click()

In [131]:
driver.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")

In [132]:
rank=[]
state=[]
gsdp=[]
share=[]
gdp=[]

In [133]:
for l in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[1]"):
    rank.append(l.text)

In [134]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [135]:
for m in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[2]"):
    state.append(m.text)

In [136]:
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [137]:
for n in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[4]"):
    gsdp.append(n.text)

In [138]:
gsdp

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [139]:
for o in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[5]"):
    share.append(o.text)
for p in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[6]"):
    gdp.append(p.text)

In [140]:
import pandas as pd
economy=pd.DataFrame({})
economy['rank']=rank
economy['state']=state
economy['gsdp']=gsdp
economy['share']=share
economy['gdp']=gdp

In [141]:
economy

   rank                      state       gsdp   share      gdp
0     1                Maharashtra  2,632,792  13.88%  398.145
1     2                 Tamil Nadu  1,630,208   8.59%  246.529
2     3              Uttar Pradesh  1,584,764   8.35%  239.656
3     4                    Gujarat  1,502,899   7.92%  227.276
4     5                  Karnataka  1,493,127   7.87%  225.798
5     6                West Bengal  1,089,898   5.75%  164.820
6     7                  Rajasthan    942,586   4.97%  142.543
7     8             Andhra Pradesh    862,957   4.55%  130.501
8     9                  Telangana    861,031   4.54%  130.210
9    10             Madhya Pradesh    809,592   4.27%  122.431
10   11                     Kerala    781,653   4.12%  118.206
11   12                      Delhi    774,870   4.08%  117.180
12   13                    Haryana    734,163   3.87%  111.024
13   14                      Bihar    530,363   2.80%   80.204
14   15                     Punjab    526,376   2.77%   79.601
15   16                     Odisha    487,805   2.57%   73.768
16   17                      Assam    315,881   1.67%   47.769
17   18               Chhattisgarh    304,063   1.60%   45.982
18   19                  Jharkhand    297,204   1.57%   44.945
19   20                Uttarakhand    245,895   1.30%   37.186
20   21            Jammu & Kashmir    155,956   0.82%   23.584
21   22           Himachal Pradesh    153,845   0.81%   23.265
22   23                        Goa     73,170   0.39%   11.065
23   24                    Tripura     49,845   0.26%    7.538
24   25                 Chandigarh     42,114   0.22%    6.369
25   26                 Puducherry     34,433   0.18%    5.207
26   27                  Meghalaya     33,481   0.18%    5.063
27   28                     Sikkim     28,723   0.15%    4.344
28   29                    Manipur     27,870   0.15%    4.215
29   30                   Nagaland     27,283   0.14%    4.126
30   31          Arunachal Pradesh     24,603   0.13%    3.721
31   32                    Mizoram     22,287   0.12%    3.370
32   33  Andaman & Nicobar Islands          -       -        -

# question 5

In [4]:
driver.get("https://github.com/")

In [7]:
search_btn=driver.find_element_by_xpath("//div[@class='d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left']/a[3]")
search_btn.click()

In [8]:
title=[]
description=[]
count=[]
language=[]

In [9]:
for l in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    title.append(l.text)

In [10]:
title

['supabase / supabase',
 'Kotlin / kmm-production-sample',
 'commaai / openpilot',
 'golang-standards / project-layout',
 'raydium-io / raydium-ui',
 'twintproject / twint',
 'wisz2021 / jd_docker',
 'passerby-b / JDDJ',
 'TritonHo / slides',
 'wuyouzhuguli / SpringAll',
 'Developer-Y / cs-video-courses',
 'androidmalware / android_hid',
 'doocs / leetcode',
 'flashlight / flashlight',
 'Datalux / Osintgram',
 'chrisleekr / binance-trading-bot',
 'trekhleb / javascript-algorithms',
 'nrwl / nx',
 'nextapps-de / winbox',
 'thedevdojo / wave',
 '521xueweihan / HelloGitHub',
 'PaddlePaddle / PaddleDetection',
 'yuk1ty / learning-systems-programming-in-rust',
 'terraform-providers / terraform-provider-azurerm',
 'OWASP / CheatSheetSeries']

In [11]:
UR=[]
for i in range(0,1):
    urls=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
    for i in urls:
        UR.append(i.get_attribute('href'))# getting the urls

In [12]:
for url in UR: #loop for every reposetpry in the list
        driver.get(url)
        try:
            descrip=driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p[1]") # locating the description
            description.append(descrip.text)
        
        except NoSuchElementException as e:
            description.append('No description')

In [13]:
description

['The open source Firebase alternative. Follow to stay updated about our public Beta.',
 'No description',
 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 100 supported car makes and models.',
 'Standard Go Project Layout',
 'No description',
 "An advanced Twitter scraping & OSINT tool written in Python that doesn't use Twitter's API, allowing you to scrape a user's followers, following, Tweets and more while evading most API limitations.",
 '仅用查看文档',
 '京东到家果园庄园脚本,电报群:https://t.me/joinchat/wH4Ks3mT6mxiMDg1',
 "it is a repository to store all slides used by Triton Ho's public presentation and course.",
 '循序渐进，学习Spring Boot、Spring Boot & Shiro、Spring Batch、Spring Cloud、Spring Cloud Alibaba、Spring Security & Spring Security OAuth2，博客Spring系列源码：https://mrbird.cc',
 'List of Computer Science courses with video lectures.',
 'Use Android as Rubber Ducky against another Android device',
 '😏 LeetCode solutions in any programming language | 多种编程语言实现 LeetCode、《剑指 Offer（第 2 版）》、《程序员面试金典（第 6 版）》题解',
 'A C++ standalone library for machine learning',
 'Osintgram is a OSINT tool on Instagram. It offers an interactive shell to perform analysis on Instagram account of any users by its nickname',
 'Automated Binance trading bot - Buy low/Sell high with stop loss limit/Trade multiple cryptocurrencies',
 '📝 Algorithms and data structures implemented in JavaScript with explanations and links to further readings',
 'Powerful, Extensible Dev Tools',
 'WinBox is a professional HTML5 window manager for the web: lightweight, outstanding performance, no dependencies, fully customizable, open source!',
 'Wave - The Software as a Service Starter Kit, designed to help you build the SAAS of your dreams 🚀 💰',
 '分享 GitHub 上有趣、入门级的开源项目',
 'Object detection and instance segmentation toolkit based on PaddlePaddle.',
 '「Rustでもわかるシステムプログラミング」',
 'Terraform provider for Azure Resource Manager',
 'The OWASP Cheat Sheet Series was created to provide a concise collection of high value information on specific application security topics.']

In [16]:
for m in driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a"):
    count.append(m.text)

In [17]:
count

['10,688',
 '412',
 '391',
 '14',
 '23,770',
 '4,945',
 '23,219',
 '2,436',
 '57',
 '22',
 '10,029',
 '1,434',
 '406',
 '162',
 '106',
 '46',
 '1,677',
 '337',
 '19,418',
 '5,875',
 '23,109',
 '3,173',
 '804',
 '131',
 '3,633',
 '855',
 '3,279',
 '306',
 '1,848',
 '251',
 '1,633',
 '197',
 '105,846',
 '17,495',
 '6,991',
 '719',
 '2,220',
 '35',
 '1,054',
 '97',
 '40,696',
 '6,062',
 '2,978',
 '799',
 '209',
 '12',
 '2,502',
 '2,406',
 '16,211',
 '2,353']

In [18]:
for n in driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/span/span[2]"):
    language.append(n.text)

In [19]:
language

['TypeScript',
 'Kotlin',
 'C++',
 'Makefile',
 'TypeScript',
 'Python',
 'Shell',
 'JavaScript',
 'Go',
 'Java',
 'Shell',
 'Java',
 'C++',
 'Python',
 'JavaScript',
 'JavaScript',
 'TypeScript',
 'JavaScript',
 'PHP',
 'Python',
 'Python',
 'Rust',
 'Go',
 'Python']

# question 6

In [4]:
driver.get("https://www.billboard.com/")

In [5]:
search_btn=driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]/a")
search_btn.click()

In [6]:
sname=[]
aname=[]
week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [7]:
for l in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]"):
    sname.append(l.text)

In [8]:
sname

['Rapstar',
 'Leave The Door Open',
 'Peaches',
 'Montero (Call Me By Your Name)',
 'Levitating',
 'Save Your Tears',
 'Astronaut In The Ocean',
 'Kiss Me More',
 'Up',
 'Drivers License',
 'Deja Vu',
 'Solid',
 'Blinding Lights',
 'Beat Box',
 'Best Friend',
 'Calling My Phone',
 'What You Know Bout Love',
 'Ski',
 'Mood',
 'Heartbreak Anniversary',
 'The Good Ones',
 'Beautiful Mistakes',
 'Back In Blood',
 'Go Crazy',
 'You Broke Me First.',
 '34+35',
 "My Ex's Best Friend",
 "What's Next",
 'Dakiti',
 'Therefore I Am',
 'Without You',
 'On Me',
 'Positions',
 "You're Mines Still",
 'Forever After All',
 'Wants And Needs',
 'Track Star',
 "We're Good",
 'Heat Waves',
 'For The Night',
 'Hell Of A View',
 'Made For You',
 'No More Parties',
 'Good Days',
 'Starting Over',
 'Diamonds Dancing',
 'Goosebumps',
 'Tombstone',
 "Breaking Up Was Easy In The 90's",
 'Somebody Like That',
 'Streets',
 "What's Your Country Song",
 'Time Today',
 'Telepatia',
 'Cry Baby',
 'Hold On',
 'Street Runner',
 'Just The Way',
 'Proud Of You',
 'Willow',
 'Damage',
 'Richer',
 'Glad You Exist',
 'La Noche de Anoche',
 'Settling Down',
 'Came And Saw',
 'Headshot',
 'Anyone',
 'Down To One',
 'Lady',
 'Quicksand',
 'One Too Many',
 'Famous Friends',
 'Gone',
 'My Head And My Heart',
 'Almost Maybes',
 'Paid The Fine',
 'The Business',
 "Drunk (And I Don't Wanna Go Home)",
 'Masterpiece',
 'pov',
 'Long Live',
 'Hellcats & Trackhawks',
 'Follow You',
 "Momma's House",
 'Nobody',
 'Big Gangsta',
 'Pick Up Your Feelings',
 'Lil Bit',
 "Mr. Perfectly Fine (Taylor's Version) (From The Vault)",
 'Chasing After You',
 'Wasted On You',
 'Run It Up',
 'Arcade',
 'You Got It',
 'Go!',
 'Drankin N Smokin',
 'Monsters',
 'Slatty',
 '4 Da Gang']

In [9]:
len(sname)

100

In [10]:
for m in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]"):
    aname.append(m.text)

In [11]:
aname

['Polo G',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Lil Nas X',
 'Dua Lipa Featuring DaBaby',
 'The Weeknd',
 'Masked Wolf',
 'Doja Cat Featuring SZA',
 'Cardi B',
 'Olivia Rodrigo',
 'Olivia Rodrigo',
 'Young Thug & Gunna Featuring Drake',
 'The Weeknd',
 'SpotemGottem Featuring Pooh Shiesty Or DaBaby',
 'Saweetie Featuring Doja Cat',
 'Lil Tjay Featuring 6LACK',
 'Pop Smoke',
 'Young Thug & Gunna',
 '24kGoldn Featuring iann dior',
 'Giveon',
 'Gabby Barrett',
 'Maroon 5 Featuring Megan Thee Stallion',
 'Pooh Shiesty Featuring Lil Durk',
 'Chris Brown & Young Thug',
 'Tate McRae',
 'Ariana Grande',
 'Machine Gun Kelly X blackbear',
 'Drake',
 'Bad Bunny & Jhay Cortez',
 'Billie Eilish',
 'The Kid LAROI',
 'Lil Baby',
 'Ariana Grande',
 'Yung Bleu Featuring Drake',
 'Luke Combs',
 'Drake Featuring Lil Baby',
 'Mooski',
 'Dua Lipa',
 'Glass Animals',
 'Pop Smoke Featuring Lil Baby & DaBaby',
 'Eric Church',
 'Jake Owen',
 'Coi Leray Featuring Lil Durk',
 'SZA',
 'Chris Stapleton',
 'Young Thug & Gunna Featuring Travis Scott',
 'Travis Scott & HVME',
 'Rod Wave',
 'Sam Hunt',
 'Tenille Arts',
 'Doja Cat',
 'Thomas Rhett',
 'Moneybagg Yo',
 'Kali Uchis',
 'Megan Thee Stallion Featuring DaBaby',
 'Justin Bieber',
 'Rod Wave',
 'Parmalee x Blanco Brown',
 'Young Thug Featuring Lil Uzi Vert & Yung Kayo',
 'Taylor Swift',
 'H.E.R.',
 'Rod Wave Featuring Polo G',
 'Dan + Shay',
 'Bad Bunny & Rosalia',
 'Miranda Lambert',
 'Young Thug Featuring Rowdy Rebel',
 'Lil Tjay, Polo G & Fivio Foreign',
 'Justin Bieber',
 'Luke Bryan',
 'Brett Young',
 'Morray',
 'Keith Urban Duet With P!nk',
 'Chris Young + Kane Brown',
 'Dierks Bentley',
 'Ava Max',
 'Jordan Davis',
 'Young Thug & Gunna Featuring Lil Baby & YTB Trench',
 'Tiesto',
 'Elle King & Miranda Lambert',
 'DaBaby',
 'Ariana Grande',
 'Florida Georgia Line',
 'Lil Durk',
 'Imagine Dragons',
 'Dustin Lynch',
 'Dylan Scott',
 'Kevin Gates',
 'Jazmine Sullivan',
 'Nelly & Florida Georgia Line',
 'Taylor Swift',
 'Ryan Hurd With Maren Morris',
 'Morgan Wallen',
 'Lil Tjay Featuring Offset & Moneybagg Yo',
 'Duncan Laurence',
 'VEDO',
 'Moneybagg Yo Featuring BIG30',
 'Future & Lil Uzi Vert',
 'All Time Low Featuring Demi Lovato & blackbear',
 'Young Thug & Gunna Featuring Yak Gotti & Lil Duke',
 '42 Dugg & Roddy Ricch']

In [12]:
len(aname)

100

In [13]:
for n in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[1]"):
    week_rank.append(n.text)
for o in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]"):
    peak_rank.append(o.text)
for p in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]"):
    weeks_on_board.append(p.text)

In [15]:
len(week_rank)

100

In [16]:
len(peak_rank)

100

In [17]:
len(weeks_on_board)

100

In [18]:
import pandas as pd
billboard=pd.DataFrame({})
billboard['song name']=sname
billboard['artist name']=aname
billboard['week rank']=week_rank
billboard['peak_rank']=peak_rank
billboard['weeks_on_board']=weeks_on_board

In [19]:
billboard

,song name,artist name,week rank,peak_rank,weeks_on_board
0,Rapstar,Polo G,1,1,2
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),,3,1
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,,4,1
3,Montero (Call Me By Your Name),Lil Nas X,2,1,4
4,Levitating,Dua Lipa Featuring DaBaby,,6,5
...,...,...,...,...,...
95,Go!,Moneybagg Yo Featuring BIG30,,-,96
96,Drankin N Smokin,Future & Lil Uzi Vert,,-,31
97,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,17
98,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,,-,99
99,4 Da Gang,42 Dugg & Roddy Ricch,84,67,3

# question 7

In [4]:
url="https://www.naukri.com/browse-jobs"

In [5]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [7]:
search_btn=driver.find_element_by_xpath("//div[@class='mTxt']")
search_btn.click()

In [6]:
driver.get(url)

In [7]:
search=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search.send_keys("Data science")

In [8]:
search_btn=driver.find_element_by_id("qsbFormBtn")
search_btn.click()

In [9]:
for l in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    name.append(l.text)

In [10]:
name

['Associate Professional Data Sciences',
 'Data Science Engineer (Smart MFG & AI)',
 'Data Science - Fresher | Client of Ruboid | Bangalore',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Data Science Intern',
 'Data Science Engineer - Statistical Modeling/ Machine Learning',
 'Full Stack Data Science Engineer - Machine Learning/Deep Learning',
 'Openings For Data Science Specialist in CDM Smith l Bangalore',
 'Data Science Application Lead',
 'Data Science Application Developer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Data Science l Hiring For Harman( A Samsung company) l Bangalore',
 'Senior Analyst (Data Science)',
 'Immediate Job Opening For Data Science Manager @ Globaldata (hyd)',
 'Associate Director - Data Science']

In [11]:
for m in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company.append(m.text)

In [12]:
company

['DXC Technology',
 'Micron Semiconductor Asia Pte Ltd',
 'RUBOID TECHNOVISION PRIVATE LIMITED',
 'Vmware',
 'Valence Health',
 'Lera Technologies Pvt. Ltd',
 'Thinkbridge',
 'CDM SMITH GLOBAL SERVICES INDIA LLP',
 'Accenture Solutions Pvt Ltd',
 'Accenture Solutions Pvt Ltd',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Harman Connected Services',
 'Ugam Solutions Pvt Ltd',
 'GlobalData',
 'Parexel International India Pvt. Ltd.']

In [13]:
for n in driver.find_elements_by_xpath("//ul[@class='mt-7']/li[3]/span"):
    location.append(n.text)

In [14]:
location

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune',
 'India',
 'India',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad(Kondapur)',
 'Hyderabad/Secunderabad']

# question 8

In [25]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [26]:
driver.get(url)

In [27]:
bname=[]
aname=[]
volume_sold=[]
publisher=[]
genre=[]

In [28]:
for l in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[2]"):
    bname.append(l.text)

In [29]:
bname

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [30]:
for m in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[3]"):
    aname.append(m.text)

In [31]:
aname

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [32]:
for n in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[4]"):
    volume_sold.append(n.text)
for o in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[5]"):
    publisher.append(o.text)
for p in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[6]"):
    genre.append(p.text)

In [33]:
import pandas as pd
books=pd.DataFrame({})
books['book name']=bname
books['artist name']=aname
books['volume_sold']=volume_sold
books['publisher']=publisher
books['genre']=genre

In [34]:
books

,book name,artist name,volume_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# question 9

In [62]:
url="https://www.imdb.com/list/ls095964455/"

In [63]:
driver.get(url)

In [64]:
name=[]
year_span=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

In [65]:
for l in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(l.text)

In [66]:
name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [67]:
for m in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
    year_span.append(m.text)

In [68]:
year_span

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017– )',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016– )',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2021)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013– )',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016– )',
 '(2017– )',
 '(2018–2020)',
 '(2017–2021)',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2022)',
 '(2013–2015)',
 '(2019– )',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2021)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017– )',
 '(2016– )',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [69]:
for n in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
    runtime.append(n.text)

In [70]:
runtime

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [71]:
for o in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
    genre.append(o.text)

In [72]:
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Mystery',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [73]:
for p in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    ratings.append(p.text)

In [74]:
ratings

['9.3',
 '8.7',
 '8.2',
 '7.6',
 '7.6',
 '8',
 '6.9',
 '7.6',
 '7.7',
 '7.5',
 '8.3',
 '8.1',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.6',
 '8.6',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.5',
 '8.2',
 '6.2',
 '7.4',
 '8.3',
 '7.8',
 '8.6',
 '7.9',
 '8.4',
 '9.2',
 '6.6',
 '8.1',
 '8.7',
 '8.8',
 '7.6',
 '8.3',
 '8.6',
 '7.7',
 '7.5',
 '7.7',
 '8.6',
 '6.9',
 '8.1',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.4',
 '6.8',
 '8.4',
 '7.5',
 '8.2',
 '7.8',
 '6.7',
 '8.7',
 '8.4',
 '6.6',
 '8',
 '8.9',
 '7.9',
 '7.5',
 '8.7',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.5',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.3',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7.2',
 '8.6']

In [75]:
for q in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    votes.append(q.text)

In [76]:
votes

['1,802,840',
 '847,917',
 '867,968',
 '260,276',
 '221,258',
 '281,357',
 '123,371',
 '257,767',
 '311,351',
 '410,844',
 '317,245',
 '732,337',
 '456,060',
 '821,661',
 '445,395',
 '153,974',
 '287,842',
 '280,825',
 '1,502,188',
 '241,877',
 '397,347',
 '483,630',
 '132,730',
 '129,585',
 '370,221',
 '210,259',
 '366,102',
 '367,826',
 '846,688',
 '612,455',
 '368,689',
 '339,243',
 '119,898',
 '113,407',
 '156,545',
 '141,587',
 '213,904',
 '435,550',
 '195,231',
 '366,051',
 '387,646',
 '54,665',
 '151,341',
 '471,221',
 '297,101',
 '51,785',
 '166,267',
 '208,976',
 '195,979',
 '202,524',
 '150,014',
 '653,510',
 '114,754',
 '308,399',
 '203,982',
 '503,101',
 '368,824',
 '419,765',
 '57,619',
 '102,727',
 '318,318',
 '67,254',
 '93,522',
 '179,692',
 '80,110',
 '65,799',
 '39,927',
 '138,047',
 '335,515',
 '236,707',
 '101,746',
 '166,286',
 '506,921',
 '92,578',
 '117,570',
 '335,221',
 '98,407',
 '188,870',
 '62,913',
 '15,574',
 '111,935',
 '120,607',
 '116,549',
 '31,791',
 '225,575',
 '113,529',
 '118,234',
 '67,857',
 '92,511',
 '161,974',
 '23,238',
 '167,598',
 '161,793',
 '567,698',
 '61,183',
 '44,220',
 '54,682',
 '165,514',
 '34,589',
 '188,226']

In [77]:
import pandas as pd
series=pd.DataFrame({})
series['name']=name
series['year_span']=year_span
series['genre']=genre
series['runtime']=runtime
series['ratings']=ratings
series['votes']=votes
series

,name,year_span,genre,runtime,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,802,840"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"847,917"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,968"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,276"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,258"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,220"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,682"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,514"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,589"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,226"

# Question 10

In [4]:
url="https://archive.ics.uci.edu/"

In [5]:
driver.get(url)

In [9]:
search_btn=driver.find_element_by_xpath("//span[2][@class='whitetext']/a[1]")
search_btn.click()

In [10]:
dname=[]
dtype=[]
task=[]
att_type=[]
instances=[]
attributes=[]
year=[]

In [11]:
for l in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    dname.append(l.text)

In [13]:
len(dname)

588

In [14]:
for l in driver.find_elements_by_xpath("//p[2][@class='normal']"):
    dtype.append(l.text)

In [15]:
dtype

[]